@font-face {
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

#title {
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 24px;
    -fx-fill: #353350;
}

.source-sans-pro {
    -fx-font-family: "Source Sans Pro";
}

.input-textfield {
    -fx-accent: #4364D7;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Source Sans Pro";
    -fx-padding: 10px 15px 10px 15px;
    -fx-text-fill: #353350;
}

.input-textfield:focused {
    -fx-border-color: #4364D7;
}

.input-textarea {
    /* -fx-background-color: -fx-control-inner-background; */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #444444;
    -fx-border-width: 0;
    -fx-font-family: "Titillium Web";
    -fx-font-size: 14px;
    -fx-padding: 5px 2.5px 5px;
}

.action-button {
    -fx-background-insets: 0;
    -fx-border-color: #4364D7;
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
    -fx-text-fill: #4364D7;
    -fx-alignment: CENTER;
    -fx-pref-height: 30px;
    -fx-pref-width: 105px;
    -fx-font-size: 14px;
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-background-color: transparent;
}

.action-button:pressed {
    -fx-background-color: #4364D7;
}

#forgot-password-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-family: "Source Sans Pro";
    -fx-text-fill: #4364D7;
}

#forgot-password-button:hover {
    -fx-underline: true;
}

#forgot-password-button:pressed {
    -fx-text-fill: #334BA3;
}

#cancel-button:hover {
    -fx-background-color: #4364D7;
    -fx-text-fill: white;
}

#confirm-button {
    -fx-background-color: #4364D7;
    -fx-text-fill: white;
}
