@font-face {
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

#title {
    -fx-font-family: "Montserrat SemiBold";
    -fx-font-size: 24px;
}

.input-textfield {
    -fx-accent: #404978;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-border-color: #444444;
    -fx-border-width: 0 0 1px 0;
    -fx-font-family: "Titillium Web";
    -fx-font-size: 14px;
    -fx-padding: 5px 2.5px 5px;
}

.input-textfield:focused {
    -fx-border-color: #404978;
}

.input-textarea {
    /* -fx-background-color: -fx-control-inner-background; */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #444444;
    -fx-border-width: 0;
    -fx-font-family: "Titillium Web";
    -fx-font-size: 14px;
    -fx-padding: 5px 2.5px 5px;
}

#confirm-button {
    -fx-background-color: linear-gradient(to right, #372ef2, #d933f5);
    -fx-background-insets: 0;
    -fx-background-radius: 40px;
    -fx-border-color: transparent;
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-height: 55px;
    -fx-pref-width: 175px;
}

#confirm-button:pressed {
    -fx-background-color: linear-gradient(to right, #100990, #7d0792);
}
