@font-face {
    src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
}

#title {
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 24px;
}

.button {
    -fx-background-color: transparent;
    -fx-cursor: HAND;
    -fx-font-size: 14px;
    -fx-pref-height: 30px;
    -fx-pref-width: 105px;
    -fx-border-color: #DD3D3E;
    -fx-border-radius: 5px;
    -fx-font-family: "Source Sans Pro SemiBold";
}

.selectable-label {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-accent: #4364D7;
}

.entry-label {
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 14px;
}

.label-textfield {
    -fx-accent: #404978;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
    -fx-padding: 0;
}

.label-textfield:focused {
    -fx-border-color: #404978;
}

#confirm-button {
    -fx-background-color: #DD3D3E;
    -fx-text-fill: white;
}

#cancel-button {
    -fx-text-fill: #DD3D3E;
}

#cancel-button:hover {
    -fx-background-color: #DD3D3E;
    -fx-text-fill: white;
}

