@font-face {
    src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    src: url("fonts/SourceSansPro-SemiBold.ttf");
}

.body {
    -fx-background-color: #f5f5f5;
}

#dashboard-title {
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 36px;
    -fx-fill: #353350;
}

.search-button {
    -fx-background-color: transparent;
    -fx-background-image: url("../icons/search.png");
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 19px 9px;
    -fx-border-width: 0;
}

.input-textfield {
    -fx-accent: #4364D7;
    -fx-background-color: #eaeaea;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Source Sans Pro";
    -fx-padding: 8px 50px 8px 15px;
    -fx-text-fill: #353350;
}

.input-textfield:focused {
    -fx-border-color: #4364D7;
}

.menu-item {
    -fx-font-family: "Source Sans Pro";
    -fx-padding: 8px 50px 8px 8px;
    -fx-font-size: 14px;
}

.menu-item:hover {
    -fx-cursor: HAND;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #4364D7;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header .arrow {
    -fx-background-color: #4364D7;
}

.formatted-table {
   -fx-background-color: transparent;
   -fx-background-insets: 0;
}

.formatted-table .column-header-background {
    -fx-background-color: #e3e8f9;
    -fx-font-size: 14px;
    -fx-padding: 6px 0 6px 0;
    -fx-background-radius: 5px 5px 0 0;
}

.table-view:focused,
.table-view .column-header,
.table-view .filler,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-background-color: #e3e8f9;
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 13px;
    -fx-text-fill: #4364d7;
}

.table-cell .text {
    -fx-fill: #353350;
}

.table-row-cell, .table-row-cell:odd {
    -fx-background-color: transparent;
    -fx-font-family: "Source Sans Pro";
    -fx-cell-size: 46px;
    -fx-font-size: 14px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:hover {
    -fx-background-color: #eaeefb;
}

.table-row-cell:selected {
    -fx-background-color: #4364d7;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:filled:selected {
    -fx-border-color: transparent;
    -fx-border-insets: 0 -1 0 -1;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.table-left-alignment,
.table-view .column-header.table-left-alignment .label {
    -fx-alignment: CENTER-LEFT;
}

.table-center-alignment,
.table-view .column-header.table-center-alignment .label {
    -fx-alignment: CENTER;
}

.table-right-alignment,
.table-view .column-header.table-right-alignment .label {
    -fx-alignment: CENTER-RIGHT;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #d0d0d0;
    -fx-font-size: 14px;
    -fx-padding: 1px;
}

.scroll-bar:horizontal:hover .thumb, .scroll-bar:vertical:hover .thumb {
    -fx-background-color: #888888;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 0;
}
