@font-face {
    src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    src: url("fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
    src: url("fonts/TitilliumWeb-Regular.ttf");
}

.source-sans-pro {
    -fx-font-family: "Source Sans Pro";
}

.source-sans-pro-semibold {
    -fx-font-family: "Source Sans Pro SemiBold";
}

.titillium-web {
    -fx-font-family: "Titillium Web";
}

#body {
    -fx-background-color: white;
}

.error-label {
    -fx-text-fill: red;
}

.selectable-label {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 11px;
    -fx-padding: 0;
    visibility: false;
}

.selectable-label.visible {
    visibility: true !important;
}

.login-input-textfield {
    -fx-accent: #4364D7;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-padding: 10px 15px 10px 15px;
}

.login-input-textfield.empty {
    -fx-border-color: red;
}

.login-input-textfield:focused {
    -fx-border-color: #4364D7;
}

#login-button {
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-height: 45px;
    -fx-pref-width: 280px;
    -fx-font-size: 16px;
}

#login-button {
    -fx-background-color: #4364D7;
}

#login-button:pressed {
    -fx-background-color: #334BA3;
}

#password-reset-button,
#toggle-register-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #4364D7;
}

#password-reset-button:hover .text,
#toggle-register-button:hover .text {
    -fx-underline: true;
}

#password-reset-button:pressed,
#toggle-register-button:pressed {
    -fx-text-fill: #334BA3;
}
