@font-face {
    src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    src: url("fonts/SourceSansPro-SemiBold.ttf");
}

.body {
    -fx-background-color: #4364D7;
}

.sidebar-header {
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 12px;
    -fx-fill: #bbbbbb;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 12px 9px;
    -fx-border-color: transparent;
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 6px 0 6px 55px;
}

.sidebar-button-click-effect:hover {
    -fx-background-color: #2848bd;
}

.sidebar-button-click-effect:pressed {
    -fx-background-color: #1b307e;
}

#add-entry-button {
    -fx-background-image: url("../icons/sidebar_main_add_entry.png");
}

#password-generator-button {
    -fx-background-image: url("../icons/sidebar_main_password_generator.png");
}

.search-button {
    -fx-graphic: url("../icons/dropdown_toggle.png");
}

.search-button:selected {
    -fx-graphic: url("../icons/dropdown_toggle_reverse.png");
}
